config-client/src/main/resources/META-INF/dconfig.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.dmall.com/schema/dconfig"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.dmall.com/schema/dconfig"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>

    <xsd:annotation>
        <xsd:documentation><![CDATA[ Namespace support for the qconfig provided by Qunar. ]]></xsd:documentation>
    </xsd:annotation>

    <xsd:element name="config">
        <xsd:annotation>
            <xsd:documentation><![CDATA[]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="locations" />
                <!--<xsd:element ref="zk-address" />-->
                <xsd:element ref="namespace" />
                <xsd:element ref="registry" />
            </xsd:sequence>

            <!--<xsd:sequence>-->
                <!--<xsd:element name="locations" type="xsd:string" />-->
                <!--<xsd:element name="zk-address" type="xsd:string" />-->
                <!--<xsd:element name="namespace" type="xsd:string" />-->
            <!--</xsd:sequence>-->

            <xsd:attribute name="locations" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="namespace" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="registry" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="locations">
        <xsd:complexType>
            <xsd:attribute name="value" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="zk-address">
        <xsd:complexType>
            <xsd:attribute name="value" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="namespace">
        <xsd:complexType>
            <xsd:attribute name="value" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="registry">
        <xsd:complexType>
            <xsd:attribute name="value" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>


    <!--<xsd:element name="annotation-driven">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation><![CDATA[]]></xsd:documentation>-->
        <!--</xsd:annotation>-->
    <!--</xsd:element>-->
</xsd:schema>